@model IEnumerable<Budget.MVC.Models.ExpenseView>
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />


@{
    ViewBag.Title = "List";
    int TotalPages = ViewBag.TotalPages;
    int TotalCount = ViewBag.TotalCount;
    int ItemsPerPage = ViewBag.ItemsPerPage;
    int PageNumber = ViewBag.PageNumber;
}

<h2>List of expenses</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @*@Html.DisplayNameFor(model => model.Name)*@
            @Html.ActionLink("Name", "List", new { OrderBy = "Name", SortOrderAsc = ViewBag.sortAsc })
            @*@Html.ActionLink("Last Name", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })*@

        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            Person

            @*@Html.DisplayNameFor(model => model.Person.Username)*@
        </th>
        <th>
            Category
            @*@Html.DisplayNameFor(model => model.Category.Name)*@
        </th>
        <th>
            @Html.ActionLink("Date", "List", new { OrderBy = "Date", SortOrderAsc = ViewBag.sortAsc })

            @*@Html.DisplayNameFor(model => model.Date)*@
        </th>
        <th>
            @Html.ActionLink("Cost", "List", new { OrderBy = "Cost", SortOrderAsc = ViewBag.sortAsc })
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Person.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cost)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>

<footer>
    Pages:
    @for (int i = 1; i <= TotalPages; i++)
    {
        if (PageNumber == i)
        {
            @Html.ActionLink($"{i}", "List", new { PageNumber = $"{i}" }, new { @class = "btn btn-secondary btn-sm m-1" });
        }
        else
        {
            @Html.ActionLink($"{i}", "List", new { PageNumber = $"{i}" }, new { @class = "btn btn-outline-secondary btn-sm m-1" });
        }
    }
    <br />
    TotalCount:@TotalCount<br />
    TotalPages: @TotalPages<br />
    Items per page: @ItemsPerPage<br />
</footer>

